<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dash</title>
</head>

<body>
    <h1>Admin Dashboard</h1>
    <h1>Total Active Blog Count : <%= active%></h1>
    <h1>Total InActive Blog Count : <%= inactive%></h1>
    <p>-----------------------------------------------------</p>
    <p>---------------------------------------</p>
    <p>---------------------------------------</p>
    <h1>category wise Blog count With Active Status Only </h1>
    <% categories.forEach(function(category){%>
    <h1>category :<%= category.key%></h1>
    <h1>Count:<%= category.value%></h1>
    <%})%>

    <p>---------------------------------------</p>
    <p>---------------------------------------</p>

    <h1>Search by User</h1>

 <form class="form-inline my-2 my-lg-0" action="/searchByUser" method="POST">
        <input class="form-control mr-sm-2" type="text" name="usearch" placeholder="Search User">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
   
<h1>----------------</h1>
  <h1>-------</h1>
    <h1>Filter By Tag</h1>
  <form class="form-inline my-2 my-lg-0" action="/filterByTagAdminBlog" method="POST">
          <select name="tag" multiple required>
               <option></option>
    <% tags.forEach(function(tag){ %>
        <option value="<%= tag._id%>"><%= tag.name %></option>

        <%})%>
        </select>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Apply</button>
    </form>

    <h1>------------------</h1>
     <h1>Filter By Location</h1>
<form action="filterDashboardbyLocation" method="POST">
    <input type="text" name="lat" placeholder="Latitude">
     <input type="text" name="long" placeholder="Longitude">
      <input type="text" name="dist" placeholder="Min Dist">
      <button type="submit">SUBMIT</button>
</form>
<h1>----</h1>
    <h1>User Wise Blog Count (Active )</h1>
    <% users.forEach(function(category){%>
        <% if(category.value.length){%>
    <h1>Name :<%= category.key%></h1>
    <h1>Count:<%= category.value.length%></h1>
        
    <a href="/adminBlog/<%= category.value[0].user_id%>"> <button>Check Post And Update</button></a>
    <%}})%>

      <h1>User Wise Blog Count (InActive )</h1>
    <% userInactive.forEach(function(category){%>
        <% if(category.value.length){%>
    <h1>Name :<%= category.key%></h1>
    <h1>Count:<%= category.value.length%></h1>
        
    <a href="/adminBlog/<%= category.value[0].user_id%>"> <button>Check Post And Update</button></a>
    <%}})%>
  

    <j1>--------------------</j1>
    <h1>------------------------------------</h1>

</body>

</html>